/* Provide sufficient contrast against white background */
.container-login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container-register {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-form {
    max-width: 600px;
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.register-form {
    max-width: 600px;
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.input-group {
    margin-bottom: 15px;
}

a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.form-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-label {
    font-size: 16px;
    font-weight: bold;
}

.error-label{
    color: red
}

nav {
    background-color: #f8f9fa;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

    nav ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        justify-content: space-around;
    }

    nav li {
        margin: 0 15px;
    }

    nav a {
        text-decoration: none;
        color: #007bff;
        font-weight: bold;
        transition: color 0.3s ease;
    }

        nav a:hover {
            color: #0056b3;
        }

        nav a.active {
            color: #0056b3;
        }